.calculator{
  background-color: #f0f0f0;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(178, 177, 177);
  border-radius: 5px;
}
.display{
  margin: 10px;
  width: 90%;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.buttonsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons{
  width: 60px;
  height: 60px;
  margin: 3px;
  border-radius: 6px;
}